.button{
    padding: 7px 35px!important;
    display: flex!important;
    gap: 10px!important;
    align-items: center;
}

.navbarCustom{
    display: flex!important;
    gap: 25px;
    justify-content: center;
    width: 100%;
}